/* .main {
    background-color: gainsboro;
}

.header__data {
    background-color: lightgray;
}

.myImage {
    height: 0;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
} */

.portfolio {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.port__aboutme {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: color 1s, font-size 1s;
    -moz-transition: color 1s, font-size 1s;
    -o-transition: color 1s, font-size 1s;
    transition: color 1s, font-size 1s;
    border-radius: 10px;
    color: black;
    background-color: #D3D3D3;
    border-style: solid;
    border-width: 1px
}

.port__aboutme:hover {
    background-color: black;
    color: white;
    font-size: 40px
}

.port__contactme {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    -webkit-transition: color 1s, font-size 1s;
    -moz-transition: color 1s, font-size 1s;
    transition: color 1s, font-size 1s;
}

.port__resume {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.port__contactme:hover {
    background-color: black;
    color: white;
    font-size: 20px
}