.projects__main {}

.projects__info {
    margin-top: 100px;
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    opacity: 0.8;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    border: 1px solid;
    border-color: black;
    border-style: solid black;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px
}

.coinfo {
    width: 50%;
    -webkit-transition: color 1s, font-size 1s, background-color 1s, border-radius 1s, opacity 1s;
    -moz-transition: color 1s, font-size 1s, background-color 1s, border-radius 1s, opacity 1s;
    -o-transition: color 1s, font-size 1s, background-color 1s, border-radius 1s, opacity 1s;
    transition: color 1s, font-size 1s, background-color 1s, border-radius 1s, opacity 1s;
    opacity: 0.8;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.coinfo:hover {
    opacity: 1;
    background: black;
    color: white;
    text-decoration: none;
}

#anchor {
    text-decoration: none;
    color: black
}

#anchor:hover {
    text-decoration: none;
    color: black
}

#button__github {
    align-items: right;
}

.pull__right {
    align-items: center;
}

.navbar__margin {
    padding: 10px;
    margin-bottom: 10px;
    ;
}

.footer__div {
    font-size: 150%;
    background-color: black;
    padding: 10px;
    position: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.project__head {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    border-style: solid black;
    border-width: 5px;
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
    opacity: 0.8;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}